.navbar-menu {
    .navbar-nav {
        .nav-link {
            .badge {
                margin-right: auto;
                margin-left: -2px;
            }
        }

        .nav-link[data-bs-toggle=collapse] {
            &:after {
                left: 18px;
                right: auto;
            }
        }

        .nav-sm {
            padding-right: 1.75rem;
            padding-left: 0px;

            .nav-link {
                &:before {
                    right: 2px;
                    left: 0px;
                }
            }

            .nav-sm {
                padding-right: 15px;
                padding-left: 0px;
            }
        }
    }
}

.navbar-nav {
    padding-right: 0;

    .menu-title {
        text-align: center;
    
        // span {
        //     display: none;
        // }
    
        i {
            display: block;
            line-height: 36px;
            font-size: 1rem;
        }
    }
}