.login-containeir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Full width */
  height: 100%;
}

.login-content {
  background-color: #fff;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 80%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
